/* body.bg-gray-50 {
    background-color: #f3f4f6;
} */

.fi-sidebar-nav {
    overflow-y: hidden !important;
}

.fi-sidebar-nav:hover {
    overflow-y: auto !important;
}

.fi-sidebar-nav-groups {
    row-gap: 0 !important;
}

/* 
.fi-sidebar-item-label,
.fi-sidebar-group-label {
    color: #4b5563 !important;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-label,
a.fi-sidebar-item-button:hover .fi-sidebar-item-label,
a.fi-sidebar-item-button:hover .fi-sidebar-item-icon {
    color: #0ea5e9 !important;
}

.fi-sidebar-item-active a.fi-sidebar-item-button {
    background-color: hsla(207, 5%, 63%, 0.17);
}

.fi-logo {
    font-size: 22px !important;
    font-weight: 900 !important;
}

.multiline-select-option {
    white-space: normal !important;
    word-wrap: break-word !important;
    max-width: 100%;
} */